@{
    ViewBag.Title = "Modulo de Contabilidad";
    Layout = "~/Views/Shared/_ModContabilidadLayout.cshtml";
}

<div style="background-color: midnightblue">
    <h2 style=" text-align:center; color:whitesmoke; font-family:courier">@ViewBag.Title</h2>
</div>
<div class="button-modcont">
    <button id="btnPlanDeCuentas" class="btn mod-cont">PLAN DE CUENTAS</button>
    <button id="btnRegistrosAsientos" class="btn mod-cont">REGISTROS ASIENTOS CONTABLES</button>
    <button id="btnSaldosContables" class="btn mod-cont">SALDOS CONTABLES</button>
    <button id="btnAuditorias" class="btn mod-cont">AUDITORIAS</button>
</div>
<div class="salir">- @Html.ActionLink("SALIR", "Index", "Home")</div>
